#carouselExampleSlidesOnly {
  border: solid white;
  border-radius: 4px;
}

.school-title {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.carousel-item {
  height: 500px;
}

.carousel-item img{
    height: 500px;
}

.nav-item a {
  color: #003B46;
  background-color: #C4DFE6;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #66A5AD;
}

#myTabContent {
  background-color: white;
}

.tab-content {
  border: 1px solid #DEE2E6;
  border-top: 0px;
  height: 400px;
  padding-top: 16px;
}

.school-content {
  padding-bottom: 16px;
}

.tab-pane li {
  margin-bottom: 8px;
}

.book-button {
  padding-bottom: 32px;
}

.show-body {
  background-color: #003B46;
}
