// .carousel slide {
//   padding-bottom: 16px;
// }

.school-title {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.carousel-item {
  height: 500px;
}

.carousel-item img{
    height: 500px;
}

.nav-item a {
  color: #003B46;

}

.tab-content {
  padding-top: 8px;
}
