<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.progress %> <br>
      <%= link_to "Add a review", new_booking_review_path(booking) %></li>
  <% end %>
</ul>
