<div class="form min-vh-100">
  <div class = "col-sm-6 form-div" id="formulaire">
    <%= render 'form', school: @school, booking: @booking %>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" id="modal-btn" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong>Thank you!</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><strong>
        Your booking is registered and a notification has been transmit to the surf school. <br>
        A confirmation mail will be sent in few hours.</strong><br>
        <%= link_to "Ok", bookings_path, class: "btn btn-gradient btn-ocean" %>
      </div>
    </div>
  </div>
</div>
