<% if !current_page?(root_path) %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-envelope"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Surfinder-107696910597348/?modal=admin_todo_tour"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Mentions legales
  </div>
</div>
<% end %>
