   <div class="info-map" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path school.main_photo %>')">
      <%= link_to 'More infos...', school_path(school)  %>
    </div>
