.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #66A5AD;
  border: 1px solid #66A5AD;
  margin-top:15px;
}

.btn-gradient:hover {
  background: #003B46;
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  border: 1px solid;
  border-color: #C4DFE6;
  background: #07575B;
  transition: background 0.3s ease;
  margin-top: 40px;
}

.btn-flat:hover {
  background: #66A5AD;
  color: white;
}

.btn-ocean {
  background: #07575B;
  margin-top:15px;
}

#input-home > form > div > div.input-group-append > input[type=submit]{
  color: white;
  padding: 6px 24px !important;
  border: 1px solid #07575B !important;
  border-color: #C4DFE6;
  background: #07575B;
  transition: background 0.3s ease;
  margin-top: 0px;
  height: 38px;
  margin-left:1px;
  border-radius: 2px;
}

#input-home > form > div > div.input-group-append > input[type=submit]:hover{
  background:#C4DFE6;
  color: #07575B;
  border: 1px solid #07575B;
  }

#input-home > form > div > div.input-group-append > a > button{
  color: white;
  padding: 6px 24px !important;
  border: 1px solid #07575B !important;
  border-color: #C4DFE6;
  background: #07575B;
  transition: background 0.3s ease;
  margin-top: 0px;
  height: 38px;
  margin-left:16px;
  border-radius: 2px;
}

#input-home > form > div > div.input-group-append > a > button:hover{
  background:#C4DFE6;
  color: #07575B;
  border: 1px solid #07575B !important;
}

#btn-card{
  position:absolute;
  left: 125px;
  top: 155px;
}

#book-now {
  background: #fab07f;
  border: 1px solid white;
  font-size: 20px;
  padding: 10px 20px;
  position: relative;
  animation-name: shake;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer;

}
#book-now:hover {
  animation-name: shakeAnim;
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 10px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 10px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

.book-button{
  text-align: left;
}

.btn-accept {
  background-color: #07575B;
}

.btn-refuse {
  background-color: #b5525c;
}

.book-now-btn{
    position:fixed;
    text-align: center;
    width:35%;
    z-index:100;
}

.book-no-fixed {
  position: absolute;
  bottom: -123px;
  width: 135%;
}

.fix-top-book-button{
    position:fixed;
    text-align: center;
    width:35%;
    z-index:100;
}

#btn-back {
   width: 80px;
   position: absolute;
   bottom: 0;
}
