.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #66A5AD;
  border: 1px solid #66A5AD;
}

.btn-gradient:hover {
  background: #003B46;
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #07575B;
  border: 1px solid #07575B;
}


.btn-flat:hover {
  background: #003B46;
  color: white;
}
