* {
  font-family: 'Merriweather Sans', sans-serif;
 }

 h1 {
  font-family: 'Catamaran', sans-serif;
 }

 h2 {
  font-family: 'Catamaran', sans-serif;
 }

 h3 {
  font-family: 'Catamaran', sans-serif;
 }

 h4 {
  font-family: 'Catamaran', sans-serif;
 }

 h5 {
  font-family: 'Catamaran', sans-serif;
 }

 h6 {
  font-family: 'Catamaran', sans-serif;
 }

