#formulaire {
  margin: 0 auto;
}

#formulaire h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 54px;
}

.form {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://res.cloudinary.com/dcezznavh/image/upload/v1566309662/igm8jgcfcooplangqtvk.jpg");
  background-size: cover;
  padding: 60px 0;
}

.form-actions{
  display:flex;
  justify-content: space-evenly;
  margin-top: 48px;
}

.form-control-label{
  color: white;
}

.file{
  color: white;
}

.col-form-label{
color: white;
}

.form-div {
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.input-group {
  position: relative;
    i {
    position: absolute;
    top: 10px;
    left: 7px;
    z-index: 2;
    color: #5d5d5d;
}
}

.input-class {
    text-indent: 20px;
    width: 100%;
}

.answer-icon {
  position: relative;
    top: 30px;
    left: 7px;
    z-index: 2;
    color: #5d5d5d;
}
