.tab-custom {
  border: none !important;
}

.nav-custom {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  z-index: -1 !important;
  border-bottom: none !important;
}
