.tab-custom {
  border: none !important;
  overflow: scroll !important;
  height: 450px !important;
  border-top-left-radius: 0px !important;
}

.nav-custom {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom: none !important;
}
