<div class="form min-vh-100">
  <div class = "col-sm-6 form-div" id="formulaire">
    <h2 class="title-index">Write your review</h2>
    <%= simple_form_for [@booking, @review] do |f| %>
    <div class="form-inputs">
      <div class="input-group form-group text required review_content">
        <i class="fas fa-pen answer-icon"></i>
        <textarea class="input-class form-control text required" placeholder="Content" name="review[content]" id="review_content"></textarea>
      </div>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
    </div>
    <div class="choice-btn">
      <%= f.button :submit, class: "btn btn-gradient btn-ocean" %>
      <%= link_to 'Back', bookings_path, class: "btn btn-gradient" %>
    <% end %>
  </div>
</div>
